 <div id='server-container' >
    <div class="list-group">
      <li class="list-group-item">Servers</li>
    </div>
  </div>

  <div id="container-container">
    <div id='container'>
    <button type="button" class="btn btn-primary btn-small toggle" >Application View</button>
    <text class="time">Time: </text>
    </div>
  </div>

  <div id="slider">
    <ul>
      <li> <text> select time here: </text> </li>
      <li> <div id="slider-horizontal"> </div> </li>
    </ul>
  </div>
