%div#server-container
  %div.list-group
    %li.list-group-item Servers

%div#container-container
  %div#container
    %button{:type => 'button', :class => 'btn btn-primary btn-small toggle'} Application View
    %text.time Time: 

%div#slider-vertical
