
<div class="navigation">
  <ul class="nav nav-tabs">
    <li><a href="#" class="server-menu">Servers</a></li>
    <li><a href="#" class="application-menu" >Apps</a></li>
  </ul>

  <div id='server-container' >
    <input id="search_input" class="form-control server-menu-text-box" placeholder="Filter...">
    <ul id="search_list" class="list-group">
      <a><li>One</li></a>
      <a><li>Two</li></a>
      <a><li>Three</li></a>
    </ul>
  </div>

<!--   <div id='server-container' >
    <input id="search_input" class="form-control server-menu-text-box" placeholder="Filter...">
    <ul class="list-group" id="search_list">
    </ul>
  </div> -->

  <div id='application-container' >
    <div class="list-group">
    </div>
  </div>
</div>

  <div id="container-container">
    <div id='container'>
    <button type="button" class="btn btn-primary btn-small clear" > Clear </button>
    <button type="button" class="btn btn-primary btn-small removeSingleNodes" > Remove Single Nodes </button>

    <text class="time">Time: </text>
    </div>
  </div>

  <div id="slider">
    <ul>
      <li> <text> select time here: </text> </li>
      <li class="slider_here"> <div id="slider-horizontal"> </div> </li>
    </ul>
  </div>

