
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js' type='text/javascript'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js' type='text/javascript'></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"></link>

<style>

svg{
  display: block;
  margin: auto;
  fill: none;
  stroke: black;
  pointer-events: all;
}

.node {
  fill: white;
  stroke:black;
  z-index: 4;
}

.node text{
  fill: black;
  font-size: 12;
  color: black;
  z-index: 5;
}

.cursor {
  fill: none;
  stroke: none;
  pointer-events: none;
}

.link {
  stroke: #999;
  z-index: 4;
}

</style>

<!-- <script src='/public/js/script.js'></script> -->

<script type='text/template' id='template-timemodel'>
  Time = <%= time %>
</script>

<div id='button_container'></div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    filter by section
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <!-- buttons get appended here -->  
 </ul>
</div>

<div id='edge_container'></div>

<script type='text/javascript'>

  var TimemodelApp = {
    Models: {},
    Collections: {},
    Views: {},
    Templates: {}
  };

  TimemodelApp.Models.Timemodel = Backbone.Model.extend({
    defaults: {
    
    },
    initialize: function(){

    }
  });

  TimemodelApp.Models.Node = Backbone.Model.extend({
    defaults: {
    },
    initialize: function(){

    }
  });

  var TimemodelCollection = Backbone.Collection.extend({
    model: TimemodelApp.Models.Timemodel,
    url: "/api/timemodel"
  });

  var NodesCollection = Backbone.Collection.extend({
    initialize: function(models, options){
      this.id = options.id
    },
    model: TimemodelApp.Models.Node,
    url: function(){
      return '/api/timemodel/' + this.id + '/nodes'
    }
  })

  var ConnectedNodesCollection = Backbone.Collection.extend({
    initialize: function(models, options){
      this.id = options.id
      this.node_name = options.node_name
    },
    model: TimemodelApp.Models.Node,
    url: function(){
      return '/api/timemodel/' + this.id + '/node/' + this.node_name
    }
  })

  var TimemodelView1 = Backbone.View.extend({
    el: $('body'),
    events: {
      'click #button_container button': 'buttonClick',
      'click .dropdown-menu a': 'nodeButtonClick'
    },
    initialize: function(){
      _.bindAll(this, 'render')
      this.render();
    },
    render: function(){

      fetch.done(function(){

        main_collection.forEach(function(model){
          $(this.el).append("This is the time " + model.get('time'));
          $('#button_container').append("<button class='test_button' data-id='" + model.get('_id') + "'>" + model.get('time') + "</button>")
        })

        $('#timemodel-container').html($(this.el).html());
        return this;
      })
    },
    buttonClick: function(e){
      var collectionID = $(e.currentTarget).data("id") // get id of current button

      nodesCollection = new NodesCollection([], {id: collectionID});
      getNodes = nodesCollection.fetch();
   
      getNodes.done(function(){

        nodesCollection.forEach(function(node){
          $(this.el).append("This is the hostname " + node.get('hostname'));
          $('.dropdown-menu').append("<li><a href='#' data-name='"+ node.get('hostname') + "' data-timeid='" + node.get('timemodel_id') + "'>" + node.get('hostname') + "</a></li>");
        })

      })
    },

    nodeButtonClick: function(e){
      console.log("this is the hostname " + $(e.currentTarget).data("name"))
      console.log("this is the id " + $(e.currentTarget).data("timeid"))

      var connectedid = $(e.currentTarget).data("timeid") // get id of current button
      var name = $(e.currentTarget).data("name") //get current hostname

      clicked(name);

      var connectedNodesCollection = new ConnectedNodesCollection([],{id: connectedid, node_name: name })
      getConnected = connectedNodesCollection.fetch()
      getConnected.done(function(){

        connectedNodesCollection.forEach(function(edge){

          if(edge.get('toID') === name)
            clicked(edge.get('fromID'), edge.get('toID'))
          else if(edge.get('fromID') === name)
            clicked(edge.get('toID'), edge.get('fromID'))

        })

      })
    }

  });

  var main_collection = new TimemodelCollection();
  var fetch = main_collection.fetch({update: true, merge: false, remove: false, add: true});
  var nodesCollection

  var timemodelView1 = new TimemodelView1();
</script>


<!-- d3 script begins here -->
<script>

  var width = 1200,
      height = 1000;

  var fill = d3.scale.category20();

  var force = d3.layout.force()
      .size([width, height])
      .nodes([]) // initialize with a single node
      .linkDistance(30)
      .charge(-60)
      .on("tick", tick)
      .linkDistance(100)
      .gravity(.01);

  var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height)
      .on("mousemove", mousemove)
      // .on("mousedown", mousedown);

  svg.append("rect")
      .attr("width", width)
      .attr("height", height);

  var nodes = force.nodes(),
      links = force.links(),
      g = svg.selectAll(".node"),
      link = svg.selectAll(".link");

  var cursor = svg.append("circle")
      .attr("r", 30)
      .attr("transform", "translate(-100,-100)")
      .attr("class", "cursor");

  // restart();

  function clicked(nodeName, connection){
    var bool = new Boolean(); // boolean to 
    bool = false

    nodes.forEach(function(target) {
      if(target.name == nodeName){ // if the node does not exist
        bool = true
      }
    });

    if(bool == false){ //if the node does not exist
      var node = {x: 200, y: 200, name: nodeName}, //push it to nodes
      n = nodes.push(node);
    
     
    // add links to any nearby nodes
      nodes.forEach(function(target) {
        // console.log(connection + "  ->>>>>  " + target.name)
        if(connection === target.name){
          links.push({source: node, target: target});
        }
      });

      restart();
      }
  }

  function mousemove() {
    cursor.attr("transform", "translate(" + d3.mouse(this) + ")");
  }

  function mousedown() {
    var point = d3.mouse(this),
        node = {x: point[0], y: point[1]},
        n = nodes.push(node);

    console.log("this is the point: ")
    console.log(point)

    console.log(node)

    // add links to any nearby nodes
    nodes.forEach(function(target) {
      var x = target.x - node.x,
          y = target.y - node.y;
      if (Math.sqrt(x * x + y * y) < 30) {
        links.push({source: node, target: target});
      }
    });

    restart();
  }

  function tick() {
    link.attr("x1", function(d) { return d.source.x; })
    .attr("y1", function(d) { return d.source.y; })
    .attr("x2", function(d) { return d.target.x; })
    .attr("y2", function(d) { return d.target.y; });

    g.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
 
  }

  function restart() {

    link = link.data(links);

    link.enter().insert("line", ".node")
        .attr("class", "link");

    g = g.data(nodes);
    console.log(g)

    var holder = g.enter().insert("g")
    .attr("class", "node")
    .call(force.drag);

    holder.insert("rect", ".cursor")
    .attr("height", 20)
    .attr("width", 50);

    holder.append("svg:text")
    .attr("x", 10)
    .attr("dy", ".31em")
    .text(function(target){
      return target.name;
    })

    force.start();

  }

</script>